<div>
    <div class="active">
        <h5>Active:</h5>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="{{ device.slug }}-status-active" data-updater="update_checkbox" {% if device.status.active %}checked{% endif %}>
        </div>
    </div>
    <script>
        let active_field_a_{{ device.id }} = $("#{{ device.slug }}-status-active");
        active_field_a_{{ device.id }}.change(function() {
            FieldChangers["change_checkbox"](
                "{{ device.slug }}", active_field_a_{{ device.id }}, {"active": active_field_a_{{ device.id }}.prop('checked')},
                '{% url 'api-actuator-update-status' device.slug %}');
        });
    </script>
</div>
